// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

/* params { */
/*     // sets where to find the containers */ 
/*     containers_dir = "$projectDir/containers/" */
/* } */

process {

    // base container
    withLabel: "staden_io|biobambam|bwa|samtools|bcftools" {
        container = "${params.containers_dir}/amprecon_base_container.sif"
    }

    withLabel: "py_pandas|pyvcf|rbase|fastqc|multiqc" { 
        container = "${params.containers_dir}/amprecon_grc_tools.sif"
    }

}
