process {
    withLabel: bambi {
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi:0.11.1"
    }

    withLabel: biobambam2 {
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/biobambam2:2.0.106"
    }

    withLabel: pythonBox {
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/python-tasks:0.1"
    }

    withName: bam_to_cram {
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest"
    }

    withLabel: bwa {
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bwa:0.7.17"
    }

    withLabel: staden {
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/staden:1.14.11"
    }

    withLabel: python_plus_samtools{
        container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/python-tasks:0.1"
    }
    withName: irods_manifest_parser {
        container="/lustre/scratch123/pam/dt5/personal/malpipe2/irods.sif"
    }
    withName: irods_retrieve {
        container="/lustre/scratch123/pam/dt5/personal/malpipe2/irods.sif"
    }
    
}

