process {
    withLabel: bambi {
        container = "/nfs/gsu/team335/ampseq-containers/bambi.sif"
    }

    withLabel: biobambam2 {
        container = "/nfs/gsu/team335/ampseq-containers/biobambam2.sif"
    }

    withLabel: pythonBox {
        container = "/nfs/gsu/team335/ampseq-containers/pythonBox.sif"
    }

    withName: bam_to_cram {
        container = "/nfs/gsu/team335/ampseq-containers/samtools_1.15.sif"
    }

    withLabel: bwa {
        container = "/nfs/gsu/team335/ampseq-containers/bwa.sif"
    }

    withLabel: staden {
        container = "/nfs/gsu/team335/ampseq-containers/staden.sif"
    }

    withLabel: python_plus_samtools{
        container = "/nfs/gsu/team335/ampseq-containers/mergeHeaders.sif"
    }
    withName: irods_manifest_parser {
        container="/nfs/gsu/team335/ampseq-containers/irods.sif"
    }
    withName: irods_retrieve {
        container="/nfs/gsu/team335/ampseq-containers/irods.sif"
    }
    
}

