params {
    // sets where to find the containers 
    containers_dir = "/lustre/scratch126/gsu/malariagen/production/resources/pipeline_resources/plasmodium/falciparum/amplicon/ampseq_containers/" 
    // PS: the containers_dir default value should be "$projectDir/containers/",
    //     not a path to a farm specific filesystem / dir.

}

process {
    withLabel: bambi {
        // container = "/nfs/gsu/team335/ampseq-containers/bambi.sif"
        container = "${params.containers_dir}/bambi.sif"
    }

    withLabel: biobambam2 {
        container = "${params.containers_dir}/biobambam2-2.0.79.sif"
    }

    withLabel: pythonBox {
        container = "${params.containers_dir}/pythonBox.sif"
    }

    withLabel: samtools {
        //container = "${params.containers_dir}/samtools_1.15.sif"
       container = "${params.containers_dir}/samtools_1.9.sif" 
    }

    withLabel: bwa {
        container = "${params.containers_dir}/bwa.sif"
    }

    withLabel: staden {
        container = "${params.containers_dir}/staden.sif"
    }

    withLabel: python_plus_samtools{
        container = "${params.containers_dir}/mergeHeaders.sif"
    }

    withLabel: irods {
        container = "${params.containers_dir}/irods.sif"
    }
    
    withLabel: genotyping {
        //container = '/nfs/pathogen/malariaGEN/plasmodium/images/pf7.1.2.sif'
        container = "${params.containers_dir}/genotyping.sif"
    }

    withLabel: vcf_parsing {
        container = "${params.containers_dir}/genotype_vcfs_gatk_latest.sif"
    }

    withlabel: bcftools {
        container = "${params.containers_dir}/bcftools.sif"
    }

    withLabel: grc_tools{
        container = "${params.containers_dir}/grc_tools.sif"
    }
}
