params {
    gatk3='/bin/GenomeAnalysisTK.jar'
    combined_vcf_file1='/lustre/scratch118/malaria/team112/mm6/scratch116_rescue/resources/3d7_hb3.combined.final.vcf.gz'
    combined_vcf_file2='/lustre/scratch118/malaria/team112/mm6/scratch116_rescue/resources/7g8_gb4.combined.final.vcf.gz'
    combined_vcf_file3='/lustre/scratch118/malaria/team112/mm6/scratch116_rescue/resources/hb3_dd2.combined.final.vcf.gz'
    conserved_bed_file='/lustre/scratch118/malaria/team112/mm6/scratch116_rescue/resources/regions-20130115.Conserved.bed'
    gatk_base_recalibrator_options="--knownSites $combined_vcf_file1 --knownSites $combined_vcf_file2 --knownSites $combined_vcf_file3 -L $conserved_bed_file"
    haplotype_caller_options='--emitRefConfidence GVCF --variant_index_type LINEAR --variant_index_parameter 128000 --max_alternate_alleles 6'
    alleles_fn='/lustre/scratch118/malaria/team112/pipelines/resources/pfalciparum/pf_7x_genotyping.vcf.gz'
}
