includeConfig './conf/containers.config'
includeConfig './conf/profiles.config'

params {
    // -------| absolutely required | -----------------------------------
    execution_mode = null // ["in-country", "irods"]
    run_id = null

    // --> required for In Country
    bcl_dir = null
    manifest_path = null
    ena_study_name = "ERP000190"

    // --> required for iRODS
    irods_manifest = null
    // S3 settings ------------------------------------------------------------
    s3_uuid = null

    // --- panel settings ----------------------------------------------------
    panels_settings = null

    upload_to_s3 = false
    s3_bucket_output = null //"amplicon-test-output"

    // -------| params with default values | -----------------------------------
    results_dir = "$launchDir/output/" // sets where output files should be published
    help = false

    // -- McCOIL settings -----------------------------------------------
    // set path for the runMcCOIL.R script.
    // FIXME: this appears to be specific to our container, how will this work if not using our container?
    mccoil_repopath = "/app/THEREALMcCOIL/"
    // PS: if it is running from the coi container, it must be "/app/THEREALMcCOIL/"

    mccoil_ntotal = 1000 // total number of iterations steps
    mccoil_nburnin = 100 // total number of burnin steps
    mccoil_seed = 123456 // random number seed
    mccoil_maxCOI = 25 // maximum COI threshold
    mccoil_maxMissTol = 20 // the minimum number of non-empty positions threshold for ind/sites
    mccoil_e1 = 0.05 // error probability for homo
    mccoil_e2 = 0.05 // error probability for het
    mccoil_m0 = 5 // initial number for COI guesses

    // ---| DEBUG OPTIONS |------------------------------------------------------
    // those parameters are handing modes of executions for dev and testing purposes
    // all of those parameters related behaviours should be removed
    DEBUG_tile_limit = null // int (ex: 2), will use "--tile-limit=2" for i2b at basecalls_conversion process
    DEBUG_takes_n_bams = null // int (ex: 30), will take only X samples from cram_ch in MISEQ_TO_READS
    DEBUG_no_coi = false // disable COI


}

