includeConfig './containers.config'
includeConfig './profiles.config'

params {
    // -------| absolutely required | -----------------------------------
    execution_mode = null // ["in-country", "irods", "aligned_bams"]

    // --> required for In Country
    run_id = null
    bcl_dir = null
    lane = null
    study_name = null
    read_group = null
    library = null

    // --> required for iRODS
    irods_manifest = null
    // S3 settings ------------------------------------------------------------
    s3_uuid = null   //"8a8b51ae-bb34-4c62-97e3-34f8f6519af2"
    s3_bucket_input = null  //"amplicon-test-data"

    upload_to_s3 = false
    s3_bucket_output = null //"amplicon-test-output"

    // --> required for GRC creation
    grc_settings = ""
    
    // -------| params with default values | -----------------------------------
    results_dir = "$launchDir/output/" // sets where output files should be published
    help = false
    genotyping_gatk = true
    genotyping_bcftools = false
    gatk3='/bin/GenomeAnalysisTK.jar'

    // -------| optional params | --------------------------------------------
    // --- panel settings ----------------------------------------------------
    panels_settings = null
    
    // --- checkpoints / entry points ----------------------------------------
    aligned_bams_mnf = null // manifest for aligned bams entry points

    // --- skip bqsr ----------------------------------------------------
    skip_bqsr = false

    // -- Stage 2 GRC creation parameters -------------------------------
    grc_settings_file_path = ""
    kelch_reference_file_path = ""
    codon_key_file_path = ""
    drl_information_file_path = ""

    // -- McCOIL settings -----------------------------------------------
    // set path for the runMcCOIL.R script.
    mccoil_repopath = "/app/THEREALMcCOIL/"
    // PS: if it is running from the coi container, it must be "/app/THEREALMcCOIL/"

    mccoil_ntotal = 1000 // total number of iterations steps
    mccoil_nburnin = 100 // total number of burnin steps
    mccoil_seed = 123456 // random number seed
    mccoil_maxCOI = 25 // maximum COI treshold
    mccoil_maxMissTol = 20 // the minimum number of non-empty positions treshold for ind/sites
    mccoil_e1 = 0.05 // error probability for homo
    mccoil_e2 = 0.05 // error probability for het
    mccoil_m0 = 5 // initial number for COI guesses

    // ---| DEBUG OPTIONS |------------------------------------------------------
    // those parameters are handing modes of executions for dev and testing purposes
    // all of those parameters related behaviours should be removed
    DEBUG_tile_limit = null // int (ex: 2), will use "--tile-limit=2" for i2b at basecalls_conversion process
    DEBUG_takes_n_bams = null // int (ex: 30), will take only X samples from cram_ch at CRAM-TO-BAM
}

