// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

includeConfig './conf/modules.config'
includeConfig './conf/containers.config'

// enable dsl2 
nextflow.enable.dsl = 2

params {
    // ------- Mandatory -----------------------------------
    execution_mode = "fastq"   // ["cram", "fastq"]
    batch_id       = null      // user's input identifier for run labeling.
	manifest       = null      // input samplesheet.

    // --- panel settings ----------------------------------------------------
    panels_settings           = "$projectDir/ampreconresources/plasmodium/falciparum/general/panel_settings_pseudoreference.csv"    

    // ---- GRC setting ------------------------------------------------------
    grc_settings_file_path    = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/grc_settings.json"
    chrom_key_file_path       = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/chromKey.txt"
    kelch_reference_file_path = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/kelchReference.txt"
    drl_information_file_path = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/DRLinfo.txt"
    codon_key_file_path       = "$projectDir/ampreconresources/plasmodium/shared/grc_resources/codonKey.txt"
    no_kelch                  = false         // disable kelch mutation analysis
    no_plasmepsin             = false         // disable plasmepsin copy number variation analysis
    no_coi                    = false         // disable COI

    // -------| params with default values | -----------------------------------
    date_suffix       = new java.util.Date().format( 'yyyyMMddHHmmss')    // timestamp suffix.
    results_dir       = null                                              // output directory.
    help              = false                                             // boolean for print help message.
    monochrome_logs   = false                                             // turn off ANSI color
	containers_dir    = "${projectDir}/containers"                        // directory to store singularity caching images.
    multiqc_title     = null                                              // MultiQC report title.
    multiqc_config    = "${projectDir}/assets/custom_mqc.yaml"             // MultiQC custom config.
    multiqc_logo      = "${projectDir}/assets/GenRe_logo.jpg"              // MultiQC logo images.

    // -- BCFTOOLS -----------------------------------------------
    mpileup_min_bq    = 20                  // skip bases with baseQ/BAQ smaller than the set value.
    mpileup_max_depth = 50000				// max per-file depth; avoids excessive memory usage.

    // -- McCOIL settings -----------------------------------------------
    mccoil_ntotal     = 1000                // total number of iterations steps.
    mccoil_nburnin    = 100                 // total number of burnin steps.
    mccoil_seed       = 123456              // random number seed.
    mccoil_maxCOI     = 25                  // maximum COI threshold.
    mccoil_maxMissTol = 20                  // the minimum number of non-empty positions threshold for ind/sites.
    mccoil_e1         = 0.05                // error probability for homo.
    mccoil_e2         = 0.05                // error probability for het.
    mccoil_m0         = 5                   // initial number for COI guesses.

    // ---| DEBUG OPTIONS |------------------------------------------------------
    // those parameters are handing modes of executions for dev and testing purposes
    // all of those parameters related behaviours should be removed
    DEBUG_tile_limit   = null                // int (ex: 2), will use "--tile-limit=2" for i2b at basecalls_conversion process
    DEBUG_takes_n_bams = null                // int (ex: 30), will take only X samples from cram_ch in MISEQ_TO_READS
}

// Load profiles
includeConfig './conf/profiles.config'

// Set Default results_dir
if (!params.results_dir) {
    params.results_dir = "${launchDir}/${params.batch_id}_${params.date_suffix}"
}
if (!params.multiqc_title) {
    params.multiqc_title = "Stats Report - ${params.batch_id}"
}

manifest {
	name            = 'thavinb/amprecon'
	homePage        = 'https://github.com/thavinb/amprecon'
	description     = """A bioinformatics NextFlow pipeline for generating genetic report cards (GRC) on drug resistance and transmission potential in Plasmodium falciparum and Plasmodium vivax."""
	mainScript      = 'main.nf'
	defaultBranch   = 'master'
	nextflowVersion = '!>=24.04.2'
	version         = 'v1.4.0-GenRe.1'
}

timeline {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/execution_timeline_${params.date_suffix}.html"
}
report {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/execution_report_${params.date_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/execution_trace_${params.date_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/pipeline_dag_${params.date_suffix}.html"
}
