
// Basic configuration for an LSF environment at Sanger
sanger_lsf {
    docker {
        enabled = false
    }

    singularity {
        enabled = true
        autoMounts = true
        cacheDir = "./"
        runOptions = "--bind /lustre,/nfs,/software"
    }

    process {
        memory = "8GB"
        queue = "normal"
        errorStrategy = {task.attempt <= 3 ? 'retry' : 'terminate'}
        maxRetries = 3
    }

    executor {
        name = "lsf"
        perJobMemLimit = true
        // Maximum number of jobs to spawn at once - adjust as necessary
        // queueSize = params.queue_size
        jobName = { "ampseq_nf_pipeline - $task.name - $task.hash" }
        pollInterval = "5 sec"
    }
}