

profiles {

  standard {
    singularity {
      enabled = true
    }
  }

  sanger_default {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software"
        }

        process {
            cpus = 1
            memory = "8GB"
            errorStrategy = {task.attempt <= 1 ? "retry" : "terminate"}
            maxRetries = 1
        }

        executor {
            name = "local"
        }
    }
    // Basic configuration for an LSF environment at Sanger
    sanger_lsf {
        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "./"
            runOptions = "--bind /lustre,/nfs,/software"
        }

        process {
            memory = "8GB"
            queue = "normal"
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'terminate'}
            maxRetries = 2

        // genotyping specific behaviour
        withName:bqsr {
            queue = 'long'
            memory = {9.GB * task.attempt}
        }
        withName:gatk_haplotype_caller_gatk4 {
            queue = 'long'
            memory = {9.GB * task.attempt}
        }

        withName:genotype_vcf_at_given_alleles {
            queue = 'long'
            memory = {9.GB * task.attempt}
    }

        }

        executor {
            name = "lsf"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            // queueSize = params.queue_size
            jobName = { "ampseq_nf_pipeline - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}
