/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

includeConfig '../conf/containers.config'
includeConfig '../conf/profiles.config'
