params {

        results_dir="."

}

profiles {

        standard {
                singularity {
                        enabled = true
                }
                process {

                        withName:bam_merge {
                                container = "/home/ss52/ampseq-pipeline/containers/biobambam2.sif"

                        }
                }
        }
}
