

params {

	results_dir="."

}

profiles {

	standard {
		docker {
			enabled=true
		}
		process {
			withLabel:bwa {
				container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bwa:0.7.17"
			}
                        withLabel:samtools {
                                container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest"
                        }
		}
	}
	sanger_lsf {

		singularity {
			enabled = true
			autoMounts = true
            		cacheDir = "./"
            		runOptions = "--bind /lustre,/nfs,/software"
	    		envWhitelist = "REF_PATH"

		}
		process {
			withLabel:bwa {
				container="gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bwa:0.7.17"
		}
                        withLabel:samtools {
                                container="gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest"
                }
	}
	
}
}

