params {

        results_dir="."

}

profiles {

        standard {
                docker {
                        enabled = true
                        runOptions="-v $PWD"
                }
                process {

                        withName:bam_find_adapter {
                                container = "quay.io/staphb/samtools"

                        }
                }
        }
}
