params {

        results_dir="."

}

profiles {

        standard {
                docker {
                        enabled = true
                }
                process {

                        withName:alignment_filter {
			    container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
                        }
                }
        }
}

