params {

        results_dir="."

}

profiles {

        standard {
                docker {
                        enabled = true
                }
                process {

                        withName:bam_to_cram {
                                container = "quay.io/staphb/samtools"

                        }
                }
        }
}
