

params {

	results_dir="."

}

profiles {

	standard {
		docker {
			enabled = true
		}
		process {

			withLabel:biobambam2 {
				container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/biobambam2:2.0.79"

			}
		}
	}
	sanger_lsf {

                singularity {
                        enabled = true
                        autoMounts = true
                        cacheDir = "./"
                        runOptions = "--bind /lustre,/nfs,/software"
                        envWhitelist = "REF_PATH"

                }
                process {
                        withLabel:biobambam2 {
                                container="gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/biobambam2:2.0.79"
                }
        }

}
	
}

