params {

	results_dir="."

}

profiles {
	standard {
		docker {
			enabled=true
		}
		process {
			withName:basecalls_conversion {
			container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
			}
			withName:decode_multiplexed_bam {
			container = ' gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
			}
			withName:bam_find_adapter {
			container = 'malariagen1/ampseq-pipeline/biobambam2@sha256:74aa3b02095e3d71fe854f55817aa3461953abf8fe475b3509f6978ef271d3f5'
			}
			withName:bam_to_cram {
			container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest'
			}
			withName: check_cram_md5sum {
			container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest' 			
		}
	}
	sanger_lsf {

		singularity {
			enabled = true
			autoMounts = true
                        cacheDir = "./"
                        runOptions = "--bind /lustre,/nfs,/software"
                        envWhitelist = "REF_PATH"
		}
		process {
                        withName:basecalls_conversion {
                        container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
                        }
                        withName:decode_multiplexed_bam {
                        container = ' gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
                        }
                        withName:bam_find_adapter {
                        container = 'malariagen1/ampseq-pipeline/biobambam2@sha256:74aa3b02095e3d71fe854f55817aa3461953abf8fe475b3509f6978ef271d3f5'
                        }
                        withName:bam_to_cram {
                        container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest'
                        }
                }
}
}
	sanger_lsf {

		singularity {
			enabled = true
			autoMounts = true
                        cacheDir = "./"
                        runOptions = "--bind /lustre,/nfs,/software"
                        envWhitelist = "REF_PATH"
		}
		process {
                        withName:basecalls_conversion {
                        container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
                        }
                        withName:decode_multiplexed_bam {
                        container = ' gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bambi@sha256:2e27caadf34978e2b34350bd341a31e804161cd4847a6c36f4f90befd398619e'
                        }
                        withName:bam_find_adapter {
                        container = 'malariagen1/ampseq-pipeline/biobambam2@sha256:74aa3b02095e3d71fe854f55817aa3461953abf8fe475b3509f6978ef271d3f5'
                        }
                        withName:bam_to_cram {
                        container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest'
                        }
			withName: check_cram_md5sum {
                        container = 'gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/samtools-1.15:latest'
                }
}
}
}

