

params {

	results_dir="."

}

profiles {

	standard {
		docker {
			enabled=true
		}
		process {
			withLabel:bcftools {
				container = "gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bcftools:1.8"
			}
		}
	}
	sanger_lsf {

		singularity {
			enabled = true
			autoMounts = true
            		cacheDir = "./"
            		runOptions = "--bind /lustre,/nfs,/software"
	    		envWhitelist = "REF_PATH"

		}
		process {
			withLabel:bcftools {
				container="gitlab-registry.internal.sanger.ac.uk/malariagen1/ampseq-pipeline/bcftools:1.8"
		}
	}
	
}
}
