// include containers config from individual modules
includeConfig './pipeline_workflows/step1.1-bcl-to-cram/containers.config'
includeConfig './pipeline_workflows/step1.2a-cram-to-bam/containers.config'
includeConfig './pipeline_workflows/step1.2b-pull-from-iRODS/containers.config'
includeConfig './pipeline_workflows/step1.3-redo_alignment/containers.config'

process {
    // ---------------------| SET CONTAINERS |---------------------------------
    // --- Reference handling processes ---------------------------------------
    withName:indexReferenceBWA {
        container = "$projectDir/../containers/bwa.sif"
    }
    withName:generateFastaIndex {
        container = "$projectDir/../containers/samtools_1.15.sif"
    }
    withName:generateFastaDict {
        container = "$projectDir/../containers/picard.sif"
    }

    withName:get_taglist_file{
        container = "$projectDir/../containers/pythonBox.sif"
    }

    withName:get_sample_ref{
        container = "$projectDir/../containers/pythonBox.sif"
    }

}
