includeConfig './containers.config'

params {
    run_id = ""
    bcl_dir = ""
    lane = ""
    study_name = ""
    read_group = ""
    library = ""
    results_dir = "$launchDir/output/"
    reference_fasta = ""
    irods_manifest = ""
    help=""
    bcl_id=""
    start_from="0"
    s3_bucket=""
    //redo_reference_fasta=null
    // --- intermediate manifests ---------------------------------------------
    step1_2_in_csv=''
    step1_3_in_csv=null
    // ------------------------------------------------------------------------
    bam_dir = "$launchDir/bam_directory"
    ref_dir = "$projectDir/references"
    grc1_qc_file = "$projectDir/references/grc1/PFA_GRC1_v1.0.annotation.regions.txt"
    grc2_qc_file = "$projectDir/references/grc2/PFA_GRC2_v1.0.annotation.regions.txt"
    spec_qc_file = "$projectDir/references/spec/PFA_Spec_v1.0.annotation.regions.txt"
}


profiles {

  standard {
    singularity {
      enabled = true
    }
  }

  sanger_default {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software"
        }

        process {
            cpus = 1
            memory = "8GB"
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 5

            // This is needed to make resume use the cache for the decode step
            withName: decode {
                cache = "deep"
            }
        }

        executor {
            name = "local"
        }
    }
}
