params {
    // manifest_file_path = ""
    // bcl_dir_path = ""
    // lane = ""
    // run_id = ""
    // study_name = ""
    manifest = ""
    results_dir = "$launchDir/output/"
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    withName:basecalls_conversion {
        container = "$projectDir/../containers/bambi.sif"
    }
    withName:decode_multiplexed_bam {
        container = "$projectDir/../containers/bambi.sif"
    }
    withName:bam_find_adapter {
        container = "$projectDir/../containers/biobambam2.sif"
    }
}
