includeConfig './containers.config'
includeConfig './profiles.config'

params {
    // -------| absolutely required | -----------------------------------
    run_id = null

    // --> if start_from 0
    bcl_dir = null
    lane = null
    study_name = null
    read_group = null
    library = null
    irods_manifest = ""
    help=""
    bcl_id=""

    // -------| params with default values | -----------------------------------
    start_from="0"

    results_dir = "$launchDir/output/"
    reference_dir = "$projectDir/references/"

    // S3 settings ------------------------------------------------------------
    bcl_id=null           //"21045"
    s3_bucket_input=null  //"amplicon-test-data"
    s3_bucket_output=null //"amplicon-test-data"
  

    // read counts settings -----------------------------------------------
    grc1_qc_file = "$projectDir/references/grc1/PFA_GRC1_v1.0.annotation.regions.txt"
    grc2_qc_file = "$projectDir/references/grc2/PFA_GRC2_v1.0.annotation.regions.txt"
    spec_qc_file = "$projectDir/references/spec/PFA_Spec_v1.0.annotation.regions.txt"
    
    // -------| optional params | --------------------------------------------
    // --- pannel settings ----------------------------------------------------
    pannels_settings = null
    
    // --- intermediate manifests ---------------------------------------------
    step1_2_in_csv='' // required if start from 1.2a
    step1_3_in_csv=null // required if start from 1.3
    
    // ------------------------------------------------------------------------
        
    

}


profiles {

  standard {
    singularity {
      enabled = true
    }
  }

  sanger_default {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software"
        }

        process {
            cpus = 1
            memory = "8GB"
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 5

            // This is needed to make resume use the cache for the decode step
            withName: decode {
                cache = "deep"
            }
        }

        executor {
            name = "local"
        }
    }
}
