[scripts]
step1 = /users/jk23/Documents/LProgramming/survey-pipe-test/
step2 = /users/jk23/Documents/LProgramming/survey-pipe-test/
step3 = /users/jk23/Documents/LProgramming/survey-pipe-test/
references = /users/
[backend]
grant_type = password
client_id = EiX1co6Ooob4FeiW
username = USER
password = ****
token_url = https://www.malariagen.net/sso/oauth2.0/accessToken
[storage]
bucket = aspis-uploads-dev
manifestPath = /users/jk23/Documents/pipe-stage1-data/poller/manifest/
bclPath = /users/jk23/Documents/pipe-stage1-data/poller/bcl/
savePath = /users/jk23/Documents/pipe-stage1-data/poller/runs
[transfer]
host = ip 
user = bob
pam = /path/
root = /usr/local/bin/ampcon/
