params {
    // sets where to find the containers 
    containers_dir = "$projectDir/containers/"
}

process {
    // base container
    container = "${params.containers_dir}/amprecon_base_container.sif"

    withLabel: grc_tools {
        container = "${params.containers_dir}/amprecon_grc_tools.sif"
    }

    withLabel: coi {
        container = "${params.containers_dir}/amprecon_coi.sif"
    }

    withLabel: irods {
        container = "${params.containers_dir}/amprecon_irods.sif"
    }

}
