params {
    // sets where to find the containers 
    containers_dir = "$projectDir/containers/"
}

process {
    withLabel: bambi {
        container = "${params.containers_dir}/bambi.sif"
    }

    withLabel: biobambam2 {
        container = "${params.containers_dir}/biobambam2-2.0.79.sif"
    }

    withLabel: pythonBox {
        container = "${params.containers_dir}/pythonBox.sif"
    }

    withLabel: samtools {
       container = "${params.containers_dir}/samtools_1.9.sif"
    }

    withLabel: bwa {
        container = "${params.containers_dir}/bwa.sif"
    }

    withLabel: alignment_and_post_processing {
	container = "${params.containers_dir}/bwa_staden_samtools1.5.sif"
    }

    withLabel: staden {
        container = "${params.containers_dir}/staden.sif"
    }

    withLabel: python_plus_samtools{
        container = "${params.containers_dir}/python_plus_samtools.sif"
    }

    withLabel: irods {
        container = "${params.containers_dir}/irods.sif"
    }
    
    withLabel: genotyping {
        container = "${params.containers_dir}/genotyping.sif"
    }

    withLabel: vcf_parsing {
        container = "${params.containers_dir}/genotype_vcfs_gatk_latest.sif"
    }

    withLabel: bcftools {
        container = "${params.containers_dir}/bcftools.sif"
    }

    withLabel: grc_tools {
        container = "${params.containers_dir}/grc_tools.sif"
    }

    withLabel: coi {
        container = "${params.containers_dir}/coi.sif"
    }

}
