// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

process {
	withLabel: "py_pandas" { container = 'quay.io/biocontainers/pandas:2.2.1'                     }
	withLabel: "staden_io" { container = 'quay.io/biocontainers/staden_io_lib:1.15.1--hfc9290b_0' }
	withLabel: "biobambam" { container = 'quay.io/biocontainers/biobambam:2.0.79--0'              }
	withLabel: "fastqc"    { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'        }
	withLabel: "multiqc"   { container = 'quay.io/biocontainers/multiqc:1.27--pyhdfd78af_0'       }
	withLabel: "bwa"       { container = 'quay.io/biocontainers/bwa:0.7.17--ha92aebf_3'           }
	withLabel: "samtools"  { container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'      }
	withLabel: "bcftools"  { container = 'quay.io/biocontainers/bcftools:1.22--h3a4d415_1'        }
	withLabel: "pyvcf"     { container = 'quay.io/biocontainers/pyvcf:0.6.8--py36_0'              }
	withLabel: "rbase"     { container = 'quay.io/biocontainers/r-base:4.3.1'                     }
}
