/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

/*
---------------------------
	Container Setting
---------------------------
*/

process {
	withLabel: "py_pandas" { container = 'quay.io/biocontainers/pandas:2.2.1'                     }
	withLabel: "staden_io" { container = 'quay.io/biocontainers/staden_io_lib:1.15.1--hfc9290b_0' }
	withLabel: "biobambam" { container = 'quay.io/biocontainers/biobambam:2.0.79--0'              }
	withLabel: "fastqc"    { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'        }
	withLabel: "multiqc"   { container = 'quay.io/biocontainers/multiqc:1.27--pyhdfd78af_0'       }
	withLabel: "bwa"       { container = 'quay.io/biocontainers/bwa:0.7.17--ha92aebf_3'           }
	withLabel: "samtools"  { container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'      }
	withLabel: "bcftools"  { container = 'quay.io/biocontainers/bcftools:1.8--0'                  }
	withLabel: "pyvcf"     { container = 'quay.io/biocontainers/pyvcf:0.6.8--py36_0'              }
	withLabel: "rbase"     { container = 'quay.io/biocontainers/r-base:4.3.1'                     }

}

/*
---------------------------
	Global Setting
---------------------------
*/

// set global to null

//process {
 //   publishDir = [
  //      path: { "${params.results_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
   //     mode: "copy",
    //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //]
//}

/*
---------------------------
	Process Setting
---------------------------
*/

process {
    withName: FASTQC {
        publishDir  = [
          path: {"${params.results_dir}/fastqc/" },
          overwrite: true, 
          mode: "copy"
        ]
        ext.args = '--quiet'
    }

    withName: 'SAMTOOLS_SORT_INDEX' {
        publishDir  = [
          path: {"${params.results_dir}/bams/" },
          overwrite: true, 
          mode: "copy"
		]
        ext.args = ''
    }

    withName: BCFTOOLS_FILTER {
        publishDir  = [
          path: {"${params.results_dir}/vcfs/" },
          overwrite: true, 
          mode: "copy"
        ]
        ext.args = ''
    }

    withName: GRC_ADD_METADATA {
		publishDir = [
			path: {"${params.results_dir}/grc/"}, 
			overwrite: true, 
			mode: "copy"
		] 
	}	
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
