/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

/*
---------------------------
	Global Setting
---------------------------
*/

// set global to null

//process {
 //   publishDir = [
  //      path: { "${params.results_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
   //     mode: "copy",
    //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //]
//}

/*
---------------------------
	Process Output Setting
---------------------------
*/

process {
    withName: 'SAMTOOLS_SORT_INDEX' {
        publishDir  = [
          path: {"${params.results_dir}/bams/" },
          overwrite: true, 
          mode: "copy"
		]
        ext.args = ''
    }

    withName: BCFTOOLS_FILTER {
        publishDir  = [
          path: {"${params.results_dir}/vcfs/" },
          overwrite: true, 
          mode: "copy"
        ]
        ext.args = ''
    }

    withName: GRC_ADD_METADATA {
		publishDir = [
			path: {"${params.results_dir}/grc/"}, 
			overwrite: true, 
			mode: "copy"
		] 
	}	
/*
-----------------------------------------------------------
-------------- QUALITY STATISTICS PROCESS ----------------- 
- all steps output are disabled by default except multiqc -
-----------------------------------------------------------
*/
    withName: FASTQC {
        publishDir  = [
            enabled: false,
            path: {"${params.results_dir}/fastqc/" },
            overwrite: true, 
            mode: "copy"
        ]
        ext.args = '--quiet'
    }

    withName: 'SAMTOOLS_FLAGSTATS' {
		publishDir = [
            enabled: false,
			path: {"${params.results_dir}/stats/flagStats"}, 
			overwrite: true, 
			mode: "copy"
		] 
    }

    withName: 'SAMTOOLS_COVERAGE' {
		publishDir = [
            enabled: false,
			path: {"${params.results_dir}/stats/coverage"}, 
			overwrite: true, 
			mode: "copy"
		] 
    }

    withName: 'BCFTOOLS_STATS' {
		publishDir = [
            enabled: false,
			path: {"${params.results_dir}/stats/bcfStats"}, 
			overwrite: true, 
			mode: "copy"
		] 
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.results_dir}/multiqc" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
