// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

includeConfig '../nextflow.config'

params {
    panels_settings = "$projectDir/ampreconresources/plasmodium/falciparum/general/panel_settings_pseudoreference.csv"    
    grc_settings_file_path = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/grc_settings.json"
    chrom_key_file_path = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/chromKey.txt"
    kelch_reference_file_path = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/kelchReference.txt"
    codon_key_file_path = "$projectDir/ampreconresources/plasmodium/shared/grc_resources/codonKey.txt"
    drl_information_file_path = "$projectDir/ampreconresources/plasmodium/falciparum/grc_resources/DRLinfo.txt"

    no_kelch = false
    no_plasmepsin = false


}
