// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

profiles {

    docker {
        docker.enabled = true
        singularity {
            enabled = false
        }
    }

    singularity {
        docker.enabled = false
        singularity {
            enabled = true
            cacheDir = "${projectDir}/containers"
        }
    }

    standard {
        docker.enabled = false
        singularity {
            enabled = true
            cacheDir = "${projectDir}/containers"
        }
    }
    
    bmrc {
        singularity {
            enabled = true
            cacheDir = "${projectDir}/containers"
        }

        process {
            queue = "short"
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'terminate'}
            maxRetries = 2

        }

        executor {
            name = "slurm"
            queueSize = 50
            pollInterval = "5 sec"
            submitRateLimit = '60sec'
            cpus = 1
            memory = "8GB"
        }
    }

    run_locally {
        docker {
            enabled = false
        }
        singularity {
            enabled = false
        }
    }

}

