docker {
        enabled = false
}

singularity {
        enabled = true
        autoMounts = true
        cacheDir = "$PWD"
        runOptions = "--bind /lustre,/nfs,/software"
}

process {
        errorStrategy = "terminate"
        maxRetries = 1

        withName:gatk_haplotype_caller_gatk4 {
                queue = 'normal'
                memory = {4.GB * task.attempt}
                executor = "lsf"
        }
        withName:genotype_vcf_at_given_alleles {
                queue = 'normal'
                memory = {4.GB * task.attempt}
                executor = "lsf"
        }
}

executor {
        $local {
                cpus = 16
                memory = "32GB"
        }
        $lsf {
                perJobMemLimit = true
                // Maximum number of jobs to spawn at once - adjust as necessary
                // queueSize = params.queue_size
                jobName = { "ampseq_nf_pipeline - $task.name - $task.hash" }
                pollInterval = "5 sec"
        }
}
