process {
    withName:basecalls_conversion {
        container = "$projectDir/../containers/bambi.sif"
    }
    withName:decode_multiplexed_bam {
        container = "$projectDir/../containers/bambi.sif"
    }
    withName:bam_find_adapter {
        container = "$projectDir/../containers/biobambam2.sif"
    }
    withName:bam_to_cram {
        container = "$projectDir/../containers/samtools_1.15.sif"
    }
    withName:rename_cram_fls{
        container = "$projectDir/../containers/pythonBox.sif"
    }
}
