process {
    withName:bam_reset {
      container = "$projectDir/../containers/biobambam2.sif"
    }

    withName:bam_to_fastq {
        container = "$projectDir/../containers/biobambam2.sif"
    }
    withName:align_bam {
        container = "$projectDir/../containers/bwa.sif"
    }
        withName:scramble_sam_to_bam{
        container = "$projectDir/../containers/staden.sif"
    }
    withName:scramble_sam_to_bam{
        container = "$projectDir/../containers/staden.sif"
    }
        withName:sort_and_index{
        container = "$projectDir/../containers/mergeHeaders.sif"
    }
        withName:read_count_per_region_qc{
        container = "$projectDir/../containers/mergeHeaders.sif"
    }
}
