params {

        results_dir="."
    grc1_qc_file="/lustre/scratch123/pam/dt5/personal/malpipe2/ampseq_pipeline_dev/test/ampseq-pipeline/ampseq-NF-pipeline/references/grc1/PFA_GRC1_v1.0.annotation.regions.txt"
    grc2_qc_file="/lustre/scratch123/pam/dt5/personal/malpipe2/ampseq_pipeline_dev/test/ampseq-pipeline/ampseq-NF-pipeline/references/grc2/PFA_GRC2_v1.0.annotation.regions.txt"
    spec_qc_file="/lustre/scratch123/pam/dt5/personal/malpipe2/ampseq_pipeline_dev/test/ampseq-pipeline/ampseq-NF-pipeline/references/spec/PFA_Spec_v1.0.annotation.regions.txt"
    cram_dir="/lustre/scratch123/pam/dt5/personal/malpipe2/ampseq_pipeline_dev/test/bam_directory"

}
