

params {

	results_dir="."

}

profiles {

	standard {
		docker {
			enabled=true
		}
		process {
                        withName:assemble_genotype_file {
                                container = ""
                        }
		}
	}
	sanger_lsf {

		singularity {
			enabled = true
			autoMounts = true
            		cacheDir = "./"
            		runOptions = "--bind /lustre,/nfs,/software"
	    		envWhitelist = "REF_PATH"

		}
		process {
                        withName:assemble_genotype_file {
                                container = ""
                }
	}
}
}
